a.button {
	padding-right: 1rem;
	padding-top: 2rem;
	text-decoration: none;
	display: inline-flex;
	.textlink__text {
		transition: ease 0.3s;
	}
	&__white {
		color: color(White);
	}
	&__icon {
		&--eyes {
			&:before {
				content: '';
				height: 1rem;
				width: 1rem;
				margin-right: 0.4rem;
				display: inline-block;
				background-image: url('~/images/icon_eyes.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
			&:hover {
				&:before {
					transform: rotateY(180deg) scale(1.25);
				}
				.textlink__text {
					transform: translateX(4px);
					transition: ease 0.3s;
				}
			}
		}
	}
}
