$font-primary: (
	font-family: (
		Theinhardt,
		serif
	),
	load: true,
	weights: (
		'Regular': 400,
		'Medium': 500
	),
	path: '~/fonts',
	files: (
		'woff2',
		'ttf',
		'eot'
	),
	use: (
		'body',
		'p',
		'a',
		'ul',
		'li'
	),
	types: (
		'normal'
	)
);
$font-secondary: (
	font-family: (
		SuisseIntl,
		serif
	),
	load: true,
	weights: (
		'SemiBold': 300
	),
	path: '~/fonts',
	files: (
		'woff2',
		'ttf',
		'eot'
	),
	use: (
		'h1',
		'h2',
		'h3',
		'h4',
		'h5',
		'h6'
	),
	types: (
		'normal'
	)
);
