h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
	color: color(Black);
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 800;
}
h1 {
}

p,
ul,
li {
	line-height: 1.5;
	font-size: rem(32);
	font-weight: 400;
	letter-spacing: -1.5px;
}
